@import "../../themes.scss";

.log-out-style {

    .MuiPaper-root {
        border-radius: 12px !important;        
    }

    .btn-log-out-style {
        background-color: $primary-color;
        color: #fff;
        font-weight: bold;
    }

    .text-logout {
        color: black;
        font-size: 20px;
        font-weight: bold;
    }

    .text-logout-dark {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }

    .text-logout-litle {
        color: black;
        font-size: 15px;
    }

    .text-logout-litle-dark {
        color: #fff;
        font-size: 15px;
    }

}