@import '../../themes.scss';

.customer-setup-page {

    .text-field {
        
        .MuiOutlinedInput-input {
            color: black !important;
        }   
        .MuiInputLabel-root {
            color: black !important;
        }        
        .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
            border-color: #fff;
        }        
        :hover .MuiOutlinedInput-input {
            color: #fff;
        }        
        :hover .MuiInputLabel-root {
            color: black;
        }        
        :hover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
            border-color: #fff;
        }
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input {
            color: black;
        }        
        .MuiInputLabel-root.Mui-focused {
            color: black;
        }        
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: #fff;
        }

    }

    .slash-dark {
        width: 4px;
        height: 45px;
        background-color: #fff;
    }
    .color-dark {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    } 
    
    .slash {
        width: 4px;
        height: 45px;
        background-color: $primary-color;
    }
    .color {
        color: $primary-color;
        font-size: 22px;
        font-weight: bold;
    }

    .stack-btn {             
        background-color: #fff;
        border-radius: 5px;
        padding: 5px;

        @include mobile-small {
            display: none;
        }

        @include mobile {
            display: none;
        }

        @include mobile-large {
            display: none;
        }
        
        .btn-text-field {
            display: flex;
            align-items: center;
            width:300px;
            
        }        
        
    }

    .btn-add {
        text-transform: none;            
        border-radius: 5px;
        background-color: #fff !important; 

        .MuiButton-startIcon {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        .btn-text {
            font-weight: bold;
            margin: 0px 5px 0px 5px;
        }
    }


    .container {
        margin-top: 20px;

        .table-container {
            
            @include mobile-small {
                width: 310px !important;
            }

            @include mobile {
                width: 370px !important;
            }

            @include mobile-large {
                width: 476px !important;
            }

            .table {
                width: 100%;
                display: table;
                overflow-x: auto;
                white-space: nowrap;
                border-collapse: separate;
                border-spacing: 0px 8px;


                .header-row {            
                    .header-title {
                        padding: 10px;
                        border: none;
                        font-size: $font-Size-Subtitle;
                        font-weight: bold;

                        .title {
                            font-weight: bold;
                        }
    
                        .icon-flip {
                            direction: ltr !important;
                            transition: all .3s ease-in-out;
                            transform: rotate(180deg)  !important;
                        }
                        .icon-flip-back {
                            direction: ltr !important;
                            transition: all .3s ease-in-out;
                            transform: rotate(0deg) !important;
                        }

                    }
                }
                
                .body {
                    box-shadow: none;
                    :hover {
                        background-color: $background-table-modal;
                        cursor: pointer;
                    }

                    .body-row {       
                        // background-color: #fff;
            
                        .body-title {
                            padding: 10px;
                            border: none;
                            font-size: $font-Size-Subtitle;
                        
                            .status-Pending {
                                font-weight: bold;      
                                color: red;                      
                            }

                            .status-Rejected {
                                font-weight: bold;      
                                color: #006FFF;                      
                            }
                            .status-Approval {
                                font-weight: bold;      
                                color: #20D819;                      
                            }  
                            
                        }
                    }
                }

                .body-odd {
                    box-shadow: none;
                    :hover {
                        background-color: $background-table-modal;
                        cursor: pointer;
                    }

                    .body-row {       
                        background-color: $background-table-modal;
            
                        .body-title {
                            padding: 10px;
                            border: none;
                            font-size: $font-Size-Subtitle;

                            .status-Pending {
                                font-weight: bold;      
                                color: red;                      
                            }

                            .status-Rejected {
                                font-weight: bold;      
                                color: #006FFF;                      
                            }
                            .status-Approval {
                                font-weight: bold;      
                                color: #20D819;                      
                            }                        

                        }
                    }
                }

                

            }
        }

    }

    
}