@import '../../themes.scss';

.dialog-create-customer {

    .MuiPaper-root {
        border-radius: 12px !important;
        width: 400px !important;
    }
    
    .title{
        color: $primary-color;
        font-size: $font-Size-title;
        font-weight: bold;
    }
    .field{
        color: #007654;
        font-size: $font-Size-Subtitle;
        font-weight: bold;
    }

}

.btn-update, 
.btn-create{
    background-color: #007654 !important;
    color: #fff;
}

.customer {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;    
    background-color: #fff;
    box-shadow: 30px;
    border-radius: 10px;
    padding: 20px;


    .title{
        color: $primary-color;
        font-size: $font-Size-title;
        font-weight: bold;
    }
    .field{
        color: #007654;
        font-size: $font-Size-Subtitle;
        font-weight: bold;
    }
}