@import '../../themes.scss';


.dialog-delete-sale {

    .MuiPaper-root {
        border-radius: 12px !important;
        width: 400px !important;
    }

    .title{
        font-weight: bold;
        color: $primary-color;  
    }
    .body-title {
        color: $primary-color;
    }

    .body-void {
        color: $primary-color;
        text-transform: none;   
        font-weight: bold;     
    }

    .btn-void {
        background-color: red;
        color: white;
        border: none;
    }

}
.delete-sale{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;    
    background-color: #fff;
    box-shadow: 30px;
    border-radius: 10px;
    padding: 20px;

    
    .title{
        font-weight: bold;
        color: $primary-color;  
    }
    .body-title {
        color: $primary-color;
    }

    .body-void {
        color: $primary-color;
        text-transform: uppercase;   
        font-weight: bold;     
    }

    .btn-void {
        background-color: red;
        color: white;
        border: none;
    }
}