@import '../../themes.scss';

.invoice-pages {

    .page-title {      

        @include mobile-small {
            display: none;
        }
        @include mobile {
            display: none;
        }
        @include mobile-large {
            display: none;
        }
    }

    .page-title-mobile {
        display: none;

        @include mobile-small {
            display: flex;
        }
        @include mobile {
            display: flex;
        }
        @include mobile-large {
            display: flex;
        }
    }

    .slash {
        width: 4px;
        height: 45px;
        background-color: $primary-color;
    }

    .slash-invoice {
        width: 3px;
        height: 170px;
        background-color: $primary-color;
    }
    
    .color {
        color: $primary-color;
        font-size: 22px;
        font-weight: bold;        
    }

    .btn-add{
        border-radius: 5px;
        background-color: white;
        .style-add{
            color:  $primary-color;
            font-size: $font-Size-Subtitle;
            font-weight: bold;
        }
    }
    
    .btn {

        .btn-text-field {
            display: flex;
            align-items: center;
            width:300px;
            background-color: #fff;
            border-radius:10px;
        }

        .btn-add-style {
            border-radius: 5px;
            background-color: white;
            text-transform: none;
                       
            .style-add {
                color:  $primary-color;
                font-size: $font-Size-Subtitle;
                font-weight: bold;
            }
        }

    }

    .text-header {
        color: #fff;
        font-weight: bold;
    }


    .container {
        margin-top: 20px;

           
        .table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0px 8px;
            
            .header{
                box-shadow: none;    
                background-color: $background-table-modal;

                .header-row {     

                    .cell-item {
                        padding: 8px;
                        border: none;
                        font-size: $font-Size-Subtitle;
                        
                        .text {
                            color: $primary-color;
                        }
                    }
                }
            }

            .body {
                box-shadow: none;               
                               
                .body-row {       
                    // background-color: #fff;        
                    .cell-item {
                        padding: 8px;
                        border: none;
                        font-size: $font-Size-Subtitle;                        
                        
                    }
                }
            }

            // .body-odd {
            //     box-shadow: none;                
                
            //     .body-row {       
            //         background-color: $background-table-modal;
        
            //         .body-title {
            //             padding: 10px;
            //             border: none;
            //             font-size: $font-Size-Subtitle;
                                           
            //         }
            //     }
            // }

            

        }
    }

    
}