@import '../../themes.scss';

.supplies {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;    
    background-color: #fff;
    box-shadow: 30px;
    border-radius: 10px;
    padding: 20px;


    .header-title {
        color: $primary-color;
        font-weight: bold;
    }
    
    .title{
        color: $primary-color;
        font-size: $font-Size-title;
        font-weight: bold;
    }

    .Sub-title{
        color: $font-color;
        font-size: $font-Size-Subtitle;
        font-weight: bold;
    }

}