@import '../../themes.scss';

.dialog-check-purchase {

    .MuiPaper-root {
        border-radius: 12px !important;
        width: 550px !important;
    }

    .header-title {
        color: $primary-color;
        font-weight: bold;
    }

    .sub-header-title {
        color: $secondary-color;
        font-weight: bold;
    }

    .body-title {
        font-weight: bold;
        color: $primary-color;
    }

    .container {

        
        .table {
            width: 100%;
            display: table;
            overflow-x: auto;
            white-space: nowrap;
            border-collapse: separate;
            border-spacing: 0px 8px;


            .header-row {            
                .header-title {
                    padding: 5px;
                    border: none;
                    font-size: $font-Size-Subtitle;
                    font-weight: bold;
                    color: $secondary-color;
                }
            }
            
            .body {
                box-shadow: none;

                .body-row {       
                    background-color: $background-table-modal;
        
                    .body-title {
                        padding: 10px;
                        border: none;
                        font-size: $font-Size-Subtitle;
                        color: #000;

                        .status {
                            font-weight: bold;      
                            color: $primary-color;                      
                        }
                    }
                }
            }

        }

               

    }

}
.purchase-check {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;    
    background-color: #fff;
    box-shadow: 30px;
    border-radius: 10px;
    padding: 20px;


    .header-title {
        color: $primary-color;
        font-weight: bold;
    }

    .body-title {
        font-weight: bold;
        color: $primary-color;
    }

    .container {

        
        .table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0px 8px;

            .header-row {            
                .header-title {
                    padding: 5px;
                    border: none;
                    font-size: $font-Size-Subtitle;
                    font-weight: bold;
                }
            }
            
            .body {
                box-shadow: none;

                .body-row {       
                    background-color: $background-table-modal;
        
                    .body-title {
                        padding: 10px;
                        border: none;
                        font-size: $font-Size-Subtitle;
                        color: #000;

                        .status {
                            font-weight: bold;      
                            color: $primary-color;                      
                        }
                    }
                }
            }

        }

               

    }

}