@import '../../themes.scss';

.dialog-create-purchase {
    .MuiPaper-root {
        border-radius: 12px !important;
        // width: 450px !important;
    }

    .tooltip-override-style {
        margin-top: -200px !important;
    }

    .priority {
        @include mobile-small {
            display: none;
        }

        @include mobile {
            display: none;
        }

        @include mobile-large {
            display: none;
        }
    }

    .priority-mobile {
        display: none;
        
        @include mobile-small {
            display: flex;
        }

        @include mobile {
            display: flex;
        }

        @include mobile-large {
            display: flex;
        }
    }


    .date-select {
        @include mobile-small {
            display: none;
        }

        @include mobile {
            display: none;
        }

        @include mobile-large {
            display: none;
        }
    }

    .date-select-mobile {
        display: none;

        @include mobile-small {
            display: flex;
        }

        @include mobile {
            display: flex;
        }

        @include mobile-large {
            display: flex;
        }
    }

    .header-title {
        color: $primary-color;
        font-weight: bold;
    }

    .sub-header-title {
        color: $secondary-color;
        font-weight: bold;
    }

    .btn-submit {
        color: #fff;
        background-color: $primary-color !important;
    }
    
    .container {
        width: 100%;  
        
        .table-top {
            width: 100%;  
            
            
            .header-row {  

                .header-title {
                    padding: 10px 0px 10px 0px;
                    border: none;
                    font-size: 18px;
                    font-weight: bold;
                    color: $secondary-color;
                }
            }
            
            .body {
                // box-shadow: none;

                .body-row {    
                    .body-title {
                        padding: 0px;
                        border: none;
                        font-size: $font-Size-Subtitle;

                        .status {
                            font-weight: bold;      
                            color: $primary-color;                      
                        }
                    }
                }
            }           
        }

        .table {

            width: 100%;
            display: table;
            overflow-x: auto;
            white-space: nowrap;
            border-collapse: separate;
            border-spacing: 0px 8px;  

            .header-row {            
                .header-title {
                    padding: 5px;
                    border: none;
                    font-size: $font-Size-Subtitle;
                    font-weight: bold;
                    color: $secondary-color;
                }
            }
            
            .body {
                box-shadow: none;

                .body-row {       
                    background-color: $background-table-modal;
        
                    .body-title {
                        padding: 10px;
                        border: none;
                        font-size: $font-Size-Subtitle;

                        .status {
                            font-weight: bold;      
                            color: $primary-color;                      
                        }
                    }
                }
            }

        }

        .table-buttom {
            width: 100%;      
            .header-row {            
                .header-title {
                    padding: 10px 5px 10px 5px;
                    border: none;
                    font-size: 15px;
                    font-weight: bold;
                    color: #000;
                }
            }
            
            .body {
                box-shadow: none;
                .body-row {    
                    .body-title {
                        padding: 0px 5px 0px 5px;
                        border: none;
                        font-size: $font-Size-Subtitle;

                        .status {
                            font-weight: bold;      
                            color: $primary-color;                      
                        }
                    }
                }
            }           
        }


        

    }


}
.raw-material-purchase-creates {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;    
    background-color: #fff;
    box-shadow: 30px;
    border-radius: 10px;
    padding: 20px;
    max-height: 100%;
    overflow-y: auto;

    .header-title {
        color: $primary-color;
        font-weight: bold;
    }
    
    .container {

        .table-top {
            width: 100%;      
            .header-row {            
                .header-title {
                    padding: 10px 0px 10px 0px;
                    border: none;
                    font-size: 18px;
                    font-weight: bold;
                    color: #000;
                }
            }
            
            .body {
                // box-shadow: none;

                .body-row {    
                    .body-title {
                        padding: 0px;
                        border: none;
                        font-size: $font-Size-Subtitle;

                        .status {
                            font-weight: bold;      
                            color: $primary-color;                      
                        }
                    }
                }
            }           
        }

        .table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0px 8px;

            .header-row {            
                .header-title {
                    padding: 5px;
                    border: none;
                    font-size: $font-Size-Subtitle;
                    font-weight: bold;
                }
            }
            
            .body {
                box-shadow: none;

                .body-row {       
                    background-color: $background-table-modal;
        
                    .body-title {
                        padding: 10px;
                        border: none;
                        font-size: $font-Size-Subtitle;

                        .status {
                            font-weight: bold;      
                            color: $primary-color;                      
                        }
                    }
                }
            }

        }

        .table-buttom {
            width: 100%;      
            .header-row {            
                .header-title {
                    padding: 10px 5px 10px 5px;
                    border: none;
                    font-size: 15px;
                    font-weight: bold;
                    color: #000;
                }
            }
            
            .body {
                box-shadow: none;
                .body-row {    
                    .body-title {
                        padding: 0px 5px 0px 5px;
                        border: none;
                        font-size: $font-Size-Subtitle;

                        .status {
                            font-weight: bold;      
                            color: $primary-color;                      
                        }
                    }
                }
            }           
        }


        

    }


}