@import '../../themes.scss';

.purchase{
    background-color: #fff;
    height: 100%;
    border-radius: 10px;

    .left-make{
        background-color: $background-table-modal;
        color: $primary-color;  
    }
    .title{       
        font-size: 18px;
        font-weight: bold;
        color: $primary-color;  
    }
    .left-make{
        align-items: flex-end;
        justify-content: space-evenly;
        color: $secondary-color;
        
    }
    .set-product{
        align-items: flex-start;
        justify-content: space-evenly;
    }
}