@import '../../themes.scss';

.product-categories-page {

    .text-field {
        
        .MuiOutlinedInput-input {
            color: black !important;
        }   
        .MuiInputLabel-root {
            color: black !important;
        }        
        .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
            border-color: #fff;
        }        
        :hover .MuiOutlinedInput-input {
            color: #fff;
        }        
        :hover .MuiInputLabel-root {
            color: black;
        }        
        :hover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
            border-color: #fff;
        }
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input {
            color: black;
        }        
        .MuiInputLabel-root.Mui-focused {
            color: black;
        }        
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: #fff;
        }

    }
    
    .slash {
        width: 4px;
        height: 45px;
        background-color: $primary-color;
    }
    .color {
        color: $primary-color;
        font-size: 22px;
        font-weight: bold;
    }

    .btn-search {             
       
        .btn-text-field {
            display: flex;
            align-items: center;
            width:300px;
            background-color: #fff;
            border-radius:10px;
        }
        
        .btn-add {
            text-transform: none;            
            border-radius: 6px;
            background-color: #fff; 

            .MuiButton-startIcon {
                margin-right: 0px !important;
                margin-left: 0px !important;
            }

            .btn-text {
                font-weight: bold;
                margin: 0px 5px 0px 5px;
            }
        }
    }


    .container {
        margin-top: 20px;

        .table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0px 8px;

            .header-row {            
                .header-title {
                    padding: 10px;
                    border: none;
                    font-size: $font-Size-Subtitle;
                    font-weight: bold;
                }
            }
            
            .body {
                box-shadow: none;

                .body-row {       
                    background-color: #fff;
        
                    .body-title {
                        padding: 10px;
                        border: none;
                        font-size: $font-Size-Subtitle;

                        .status-Pending {
                            font-weight: bold;      
                            color: red;                      
                        }

                        .status-Rejected {
                            font-weight: bold;      
                            color: #006FFF;                      
                        }
                        .status-Approval {
                            font-weight: bold;      
                            color: #20D819;                      
                        }  
                        
                    }
                }
            }

            .body-odd {
                box-shadow: none;

                .body-row {       
                    background-color: $background-table-modal;
        
                    .body-title {
                        padding: 10px;
                        border: none;
                        font-size: $font-Size-Subtitle;

                        .status-Pending {
                            font-weight: bold;      
                            color: red;                      
                        }

                        .status-Rejected {
                            font-weight: bold;      
                            color: #006FFF;                      
                        }
                        .status-Approval {
                            font-weight: bold;      
                            color: #20D819;                      
                        }                        

                    }
                }
            }

            

        }
        

    }

    
}