@import '../../themes.scss';

.product-categories-page {

    .text-field {
        
        .MuiOutlinedInput-input {
            color: black !important;
        }   
        .MuiInputLabel-root {
            color: black !important;
        }        
        .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
            border-color: #fff;
        }        
        :hover .MuiOutlinedInput-input {
            color: #fff;
        }        
        :hover .MuiInputLabel-root {
            color: black;
        }        
        :hover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
            border-color: #fff;
        }
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input {
            color: black;
        }        
        .MuiInputLabel-root.Mui-focused {
            color: black;
        }        
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: #fff;
        }

    }

    .page-title {
        
        @include mobile-small {
            display: none;
        }
        
        @include mobile {
            display: none;
        }
        
        @include mobile-large {
            display: none;
        }
    }
    
    .page-title-mobile {
        display: none;

        @include mobile-small {
            display: flex;
        }

        @include mobile {
            display: flex;
        }
        
        @include mobile-large {
            display: flex;
        }
    }


    .slash-dark {
        width: 4px;
        height: 45px;
        background-color: #fff;
    }
    .color-dark {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    } 

    .slash {
        width: 4px;
        height: 45px;
        background-color: $primary-color;
    }
    .color {
        color: $primary-color;
        font-size: 22px;
        font-weight: bold;
    }

    .btn-search {             
        background-color: #fff;
        border-radius: 5px;
        padding: 5px;

        .btn-text-field {
            display: flex;
            align-items: center;
            width:300px;
           

            @include mobile-small {
                display: none;
            }
            
            @include mobile {
                display: none;
            }
            
            @include mobile-large {
                display: none;
            }
        }
        

    }

    .btn-add {
        text-transform: none;            
        border-radius: 6px;
        background-color: #fff !important; 

        .MuiButton-startIcon {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        .btn-text {
            font-weight: bold;
            margin: 0px 5px 0px 5px;
        }
    }


    .container {
        margin-top: 20px;

        @include mobile-small {
            width: 310px !important;           
        }

        @include mobile {
            width: 370px !important;        
        }

        @include mobile-large {
            width: 476px !important;
        }


        .table {
            width: 100%;
            display: table;
            overflow-x: auto;            
            border-collapse: separate;
            border-spacing: 0px 8px;

            @include mobile-small {
                white-space: nowrap;
            }
    
            @include mobile {
                white-space: nowrap;
            }
    
            @include mobile-large {
                white-space: nowrap;
            }


            .header-row {            
                .header-title {
                    padding: 10px;
                    border: none;
                    font-size: $font-Size-Subtitle;
                    font-weight: bold;
                }
            }
            
            .body {
                box-shadow: none;

                .body-row {       
                    // background-color: #fff;
        
                    .body-title {
                        padding: 10px;
                        border: none;
                        font-size: $font-Size-Subtitle;

                        .status-Pending {
                            font-weight: bold;      
                            color: red;                      
                        }

                        .status-Rejected {
                            font-weight: bold;      
                            color: #006FFF;                      
                        }
                        .status-Approval {
                            font-weight: bold;      
                            color: #20D819;                      
                        }  
                        
                    }
                }
            }

            .body-odd {
                box-shadow: none;

                .body-row {       
                    background-color: $background-table-modal;
        
                    .body-title {
                        padding: 10px;
                        border: none;
                        font-size: $font-Size-Subtitle;

                        .status-Pending {
                            font-weight: bold;      
                            color: red;                      
                        }

                        .status-Rejected {
                            font-weight: bold;      
                            color: #006FFF;                      
                        }
                        .status-Approval {
                            font-weight: bold;      
                            color: #20D819;                      
                        }                        

                    }
                }
            }

            

        }
        

    }

    
}