@import '../themes.scss';

.sales-pages {

    .text-field {
        
        .MuiOutlinedInput-input {
            color: black !important;
        }   
        .MuiInputLabel-root {
            color: black !important;
        }        
        .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
            border-color: #fff;
        }        
        :hover .MuiOutlinedInput-input {
            color: #fff;
        }        
        :hover .MuiInputLabel-root {
            color: black;
        }        
        :hover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
            border-color: #fff;
        }
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input {
            color: black;
        }        
        .MuiInputLabel-root.Mui-focused {
            color: black;
        }        
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: #fff;
        }

    }

    .slash-dark {
        width: 4px;
        height: 45px;
        background-color: #fff;
    }
    .color-dark {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    } 
    
    .slash {
        width: 4px;
        height: 45px;
        background-color: $primary-color;
    }
    .color {
        color: $primary-color;
        font-size: 22px;
        font-weight: bold;        
    }

    .btn-add{
        border-radius: 5px;
        background-color: white;
        .style-add{
            color:  $primary-color;
            font-size: $font-Size-Subtitle;
            font-weight: bold;
        }
    }
    
     .btn {
        background-color: #fff;
        border-radius: 5px;
        padding: 5px;

        .btn-text-field {
            display: flex;
            align-items: center;
            width:300px;
            

            @include mobile-small {
                display: none;
            }
    
            @include mobile {
                display: none;
            }
    
            @include mobile-large {
                display: none;
            }

        }


    }

    .btn-add-style {
        border-radius: 5px;
        background-color: white !important;
        text-transform: none;
                   
        .style-add {
            color:  $primary-color;
            font-size: $font-Size-Subtitle;
            font-weight: bold;
        }
    }



    .container {
        margin-top: 20px;

            
            @include mobile-small {
                width: 310px !important;
            }
    
            @include mobile {
                width: 370px !important;
            }
    
            @include mobile-large {
                width: 476px !important;
            }

            
            .table-head {
                width: 100%;
                display: table;
                overflow-x: auto;
                white-space: nowrap;
                border-collapse: separate;
                border-spacing: 0px 8px;  


                .header-row {            
                    .header-title {
                        padding: 10px;
                        border: none;
                        font-size: $font-Size-Subtitle;
                        font-weight: bold;
                    }
                }
                
                .body {
                    box-shadow: none;
                    :hover {
                        background-color: $background-table-modal;
                        cursor: pointer;
                    }

                    .body-row {       
                        // background-color: #fff;
            
                        .body-title {
                            padding: 10px;
                            border: none;
                            font-size: $font-Size-Subtitle;

                            .status-paid{
                                color:#20D819;
                                font-weight: bold;
                            }

                            .status-unpaid{
                                color:red;
                                font-weight: bold;
                            }

                            .status-owe{
                                color: orange;
                                font-weight: bold;
                            }

                            .status-voided {
                                color:red;
                                font-weight: bold;
                            }
                        
                        }
                    }
                }

                .body-odd {

                    box-shadow: none;
                    :hover {
                        background-color: $background-table-modal;
                        cursor: pointer;
                    }

                    .body-row {       
                        background-color: $background-table-modal;
            
                        .body-title {
                            padding: 10px;
                            border: none;
                            font-size: $font-Size-Subtitle;
                            
                            .status-paid{
                                color:#20D819;
                                font-weight: bold;
                            }

                            .status-unpaid{
                                color:red;
                                font-weight: bold;
                            }

                            .status-owe{
                                color: orange;
                                font-weight: bold;
                            }

                            .status-voided {
                                color:red;
                                font-weight: bold;
                            }
                        
                        }
                    }
                    
                }

            
            }
            
    }

    
}