@import '../themes.scss';

.supplies-page {

    .slash {
        width: 4px;
        height: 45px;
        background-color: $primary-color;
    }
    .color {
        color: $primary-color;
        font-size: 22px;
        font-weight: bold;
    }

    .stack-btn {             
       
        .btn-add {
            text-transform: none;            
            border-radius: 6px;
            background-color: #fff; 

            .MuiButton-startIcon {
                margin-right: 0px !important;
                margin-left: 0px !important;
            }

            .btn-text {
                color: $primary-color;
                font-weight: bold;
                margin: 0px 5px 0px 5px;
            }
        }
    }


    .container {
        margin-top: 20px;

            .table-container {
            
                @include mobile-small {
                    width: 310px !important;
                }

                @include mobile {
                    width: 370px !important;
                }

                @include mobile-large {
                    width: 476px !important;
                }

                .table {
                    width: 100%;
                    display: table;
                    overflow-x: auto;
                    white-space: nowrap;
                    border-collapse: separate;
                    border-spacing: 0px 8px;


                    .header-row {            
                        .header-title {
                            padding: 10px;
                            border: none;
                            font-size: $font-Size-Subtitle;
                            font-weight: bold;
                            
                            .title {
                                font-weight: bold;
                            }
        
                            .icon-flip {
                                direction: ltr;
                                scale: 1;
                            }
                            .icon-flip-back {
                                direction: ltr;
                                scale: -1;
                            }

                        }
                    }
                    
                    .body {
                        box-shadow: none;

                        :hover {
                            background-color: $background-table-hover;
                            cursor: pointer;
                        }

                        .body-row {       
                            // background-color: #fff;
                
                            .body-title {
                                padding: 10px;
                                border: none;
                                font-size: $font-Size-Subtitle;

                                .status-Pending {
                                    font-weight: bold;      
                                    color: red;                      
                                }

                                .status-Rejected {
                                    font-weight: bold;      
                                    color: #006FFF;                      
                                }
                                .status-Approval {
                                    font-weight: bold;      
                                    color: #20D819;                      
                                }  
                                
                            }
                        }
                    }

                    .body-odd {
                        box-shadow: none;
                        :hover {
                            // background-color: $background-table-hover;
                            cursor: pointer;
                        }

                        .body-row {      
                            background-color: $background-table-modal;
                        
                            .body-title {
                                padding: 10px;
                                border: none;
                                font-size: $font-Size-Subtitle;

                                .status-Pending {
                                    font-weight: bold;      
                                    color: red;                      
                                }

                                .status-Rejected {
                                    font-weight: bold;      
                                    color: #006FFF;                      
                                }
                                .status-Approval {
                                    font-weight: bold;      
                                    color: #20D819;                      
                                }                        

                            }
                        }
                    }

            }

        }
        

    }
}