@import '../../themes.scss';

.container-users {
    // margin-top: 20px;
   
    .table-head {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0px 8px;  
    
            .table-row{
                .header-title {
                    padding: 10px;
                    border: none;
                    font-size: $font-Size-Subtitle;
                    font-weight: bold;
                    
             }
            
        }

        .body {
            background-color: white !important;
            box-shadow: none;
            :hover {
                background-color: $background-table-modal !important;
                cursor: pointer;
            }
         

            .body-row { 
        
                .body-title {
                    padding: 10px;
                    border: none;
                    font-size: $font-Size-Subtitle;                   

                }
            }
        }
        
       
     
    } 
    
}
