@import '../../themes.scss';

.dialog-view-user {

    .MuiPaper-root {
        border-radius: 12px !important;
        // width: 450px !important;
    }
    
    .title {
        color: $primary-color;
        font-weight: bold;
        font-size: $font-Size-title;
    }

    .profile-image {

        @include mobile-small {
            display: none;
        }

        @include mobile {
            display: none;
        }

        @include mobile-large {
            display: none;
        }
    }

    .profile-image-mobile {
        display: none;

        @include mobile-small {
            display: flex;
        }

        @include mobile {
            display: flex;
        }

        @include mobile-large {
            display: flex;
        }
    }


    .main-table{
        
        .head-row{
            th{ 
                font-weight: bold;
                color: $primary-color;
            }
            .head-title {
                border: none;
                box-shadow: none;
                margin-top: 5px;
                .text-subTitle{
                    
                    color:$background-menu-dark;
                    font-size: 15px;
                }
                .sub-title{
                    font-weight: bold;
                    color: $primary-color;
                    font-size:$font-Size-Subtitle;
                }
            }

        }

}
   
}