@import '../../themes.scss';

.view-user{
    
    .title {
        color: $primary-color;
        font-weight: bold;
        font-size: $font-Size-title;
    }
    .main-table{
        
        .head-row{
            th{ 
                font-weight: bold;
                color: $primary-color;
            }
            .head-title {
                border: none;
                box-shadow: none;
                margin-top: 5px;
                .text-subTitle{
                    
                    color:$background-menu-dark;
                    font-size: 15px;
                }
                .sub-title{
                    font-weight: bold;
                    color: $primary-color;
                    font-size:$font-Size-Subtitle;
                }
            }

        }

}
   
}